<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sohu.changyan.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".Demo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity android:name="com.sohu.changyan.demo.CyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 评论列表界面 -->
        <activity android:name="com.sohu.cyan.android.sdk.activity.CyanCommentActivity"/>
         <!-- 发表评论页面 -->
        <activity android:name="com.sohu.cyan.android.sdk.activity.CyanPostCommentActivity"/>
        <!-- 畅言的配置项 -->
        <activity android:name="com.sohu.cyan.android.sdk.activity.OAuthActivity"></activity>
        
        <!-- api调用demo配置项 -->
        <activity android:name="com.sohu.changyan.demo.CommentListActivity"/>
        <activity android:name="com.sohu.changyan.demo.LoginActivity"></activity>
        <activity android:name="com.sohu.changyan.demo.PostCommentActivity"></activity>
        <activity android:name="com.sohu.changyan.demo.CommentRepliesActivity"></activity>
        <activity android:name="com.sohu.changyan.demo.AppLoginActivity"></activity>
        <activity android:name="com.sohu.cyan.android.sdk.activity.RepliesActivity"></activity>

    </application>
</manifest>
